<% provide(:title, "Help") %>
    <p>
      <%= t ".link3" %>
      <a href="http://www.railstutorial.org/help">Rails Tutorial help
      section</a>.
      <%= t ".link4" %>
      <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
      Tutorial</em> book</a>.
    </p>
